.container
	h1 NEW MEMBER
	form.form-horizontal(role='form')
		hr
		h4 Persönliche Daten

		.form-group
			label.control-label.col-md-2 Name
			.col-md-2
				input.form-control(type='text', name='firstName', placeholder='Vorname')
			.col-md-2
				input.form-control(type='text', name='nickname', placeholder='Nickname')
			.col-md-2
				input.form-control(type='text', name='name', placeholder='Nachname')

		.form-group
			label.control-label.col-md-2 Geschlecht
			.col-md-10
				label.radio-inline
					input(type='radio', name='gender', value='male')
					| Männlich
				label.radio-inline
					input(type='radio', name='gender', value='female')
					| Weiblich
		.form-group
			label.control-label.col-md-2 Email
			.col-md-6
				input.form-control(type='email', name='email', placeholder='Email')
		.form-group
			label.control-label.col-md-2 Geburtstag
			.col-md-6
				input.form-control(type='text', name='birthdate', placeholder='YYYY-MM-DD')
		.form-group
			label.control-label.col-md-2 Telefon
			.col-md-6
				input.form-control(type='text', name='phone', placeholder='Telefonnummer')
		.form-group
			label.control-label.col-md-2 Addresse
			.col-md-6
				input.form-control(type='text', name='address.street', placeholder='Straße')
		.form-group
			.col-md-1.col-md-offset-2
				input.form-control(type='text', name='address.zip', placeholder='PLZ')
			.col-md-5
				input.form-control(type='text', name='address.city', placeholder='Stadt')

		hr
		h4 Bankkram

		.form-group
			label.control-label.col-md-2 Ermäßigt
			.col-md-10
				label.radio-inline
					input(type='radio', name='feeInformation.reduced', value='false', checked=true)
					| Nein
				label.radio-inline
					input(type='radio', name='feeInformation.reduced', value='true')
					| Ja
			label.control-label.col-md-2 Interval
			.col-md-10
				label.radio-inline
					input(type='radio', name='feeInformation.paymentInterval', value='monthly', checked=true)
					| Monatlich
				label.radio-inline
					input(type='radio', name='feeInformation.paymentInterval', value='yearly')
					| Jährlich
		.form-group
			label.control-label.col-md-2 Zahlungsart
			.col-md-10
				label.radio-inline
					input(type='radio', name='feeInformation.paymentMethod', value='lastschrift', checked=true)
					| Lastschrift
				label.radio-inline
					input(type='radio', name='feeInformation.paymentMethod', value='überweisung')
					| Überweisung

		.form-group
			label.control-label.col-md-2 Beitrag
			.col-md-2
				.input-group
					input.form-control(type='text', name='feeInformation.fee', placeholder='', style='text-align: right')
					span.input-group-addon €

		.form-group
			label.control-label.col-md-2 Bankdaten
			.col-md-4.com-md-offset-2
				input.form-control(type='text', name='bankingInformation.holder', placeholder='Inhaber')
		.form-group
			.col-md-4.col-md-offset-2
				input.form-control(type='text', name='bankingInformation.iban', placeholder='Kontonummer / IBAN')
			.col-md-2
				input.form-control(type='text', name='bankingInformation.bic', placeholder='BLZ / BIC')

		hr
		h4 Mailinglisten

		.form-group
			label.control-label.col-md-2 Mitglieder
			.col-md-6
				input.form-control(type='email', name='mailinglists.members', placeholder='mitglied@example.de')

		.form-group
			label.control-label.col-md-2 Mitglieder-Announce
			.col-md-6
				input.form-control(type='email', name='mailinglists.announce', placeholder='announce@example.de')

		.form-group
			label.control-label.col-md-2 Keymember
			.col-md-6
				input.form-control(type='email', name='mailinglists.key', placeholder='key@example.de')

		hr
		h4 Eintrittsdatum
		.form-group
			label.control-label.col-md-2 Eintrittsdatum
			.col-md-6
				input.form-control(type='text', name='joined', placeholder='erster tag des monats')

