.container
	.navbar-header
		a.navbar-brand(href="/")
			img(src='/img/logo.svg')
	.collapse.navbar-collapse
		.btn-group.navbar-right
			button#logout.btn.btn-primary.navbar-btn(href="#")
				= user.username 
				| &nbsp;
				span.glyphicon.glyphicon-off
		ul.nav.navbar-nav
			//- for item in items
			//- 	li: a(href=item.href)= item.title
			li: a(href='/members') Mitglieder
				//- a#admin-dropdown.dropdown-toggle(data-toggle='dropdown', role='button', href='#')
				//- 	| Admin
				//- 	b.caret
				//- ul.dropdown-menu(aria-labelledby='admin-dropdown', role='menu')
				//- 	li: a(href='/admin/questions') Questions

