.row
	.page-header(style="text-align: center;")
		img(src='/img/logo.svg', style="width: 50%;")
		h2 Automatic Government System For Your Favorite Hackerspace.
		h3 Frees You From The Burden Of Finance And Administration.
		h4 All the Responsibility That Comes With Money.
		h5 You Don't Want To Bother With That.
		h6 I Wonder How Far Down This Goes.
		p(style="font-size: 0.7em") Still Can Read That? Good, Good.
		p(style="font-size: 0.5em") I Just Am Legally Obligated To Tell You…
		p(style="font-size: 0.3em") If It Might Happen That All Money Is Suddenly Missing…
		p(style="font-size: 0.2em") My Creators Cannot Be Held Liable, But No Worries.
		


