.row
	.page-header(style="text-align: center;")
		img(src='/img/logo.svg', style="width: 50%;")
		h2 Automatic Government System For Your Favorite Hackerspace.
		h3 Frees You From The Burden Of Money And Administration.

